{% extends 'base.html.twig' %}

{% block title %}Modifier Necessaire{% endblock %}

{% block body %}
    <h1>Modifier Necessaire</h1>

    {{ include('necessaire/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_necessaire_index') }}">Retour a la liste</a>

    {{ include('necessaire/_delete_form.html.twig') }}
{% endblock %}
