{% extends 'base.html.twig' %}

{% block title %}New Necessaire{% endblock %}

{% block body %}
    <h1>Create new Necessaire</h1>

    {{ include('necessaire/_form.html.twig') }}

    <a href="{{ path('app_necessaire_index') }}">back to list</a>
{% endblock %}
