{% extends 'base.html.twig' %}

{% block title %}Creer Necessaire{% endblock %}

{% block body %}
    <h1>Creer Necessaire</h1>

    {{ include('necessaire/_form.html.twig') }}

    <a href="{{ path('app_necessaire_index') }}">Retour a la liste</a>
{% endblock %}
