{% extends 'base.html.twig' %}

{% block title %}Modifier un site client{% endblock %}

{% block body %}
    <h1>Modifier un site client</h1>

    {{ include('sites_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sites_client_index') }}">back to list</a>

    {{ include('sites_client/_delete_form.html.twig') }}
{% endblock %}
