{% extends 'base.html.twig' %}

{% block title %}New SitesClient{% endblock %}

{% block body %}
    <h1>Create new SitesClient</h1>

    {{ include('sites_client/_form.html.twig') }}

    <a href="{{ path('app_sites_client_index') }}">back to list</a>
{% endblock %}
