<form method="post" action="{{ path('app_type_support_delete', {'id': type_support.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type de support ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_support.id) }}">
    <button class="btn">Supprimer</button>
</form>
