{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau type de support{% endblock %}

{% block body %}
    <h1>Créer un nouveau type de support</h1>

    {{ include('type_support/_form.html.twig') }}

    <a href="{{ path('app_type_support_index') }}">retour à la liste</a>
{% endblock %}
