<form method="post" action="{{ path('app_zones_client_delete', {'id': zones_client.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette zone client ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zones_client.id) }}">
	<button class="btn btn-danger btn-sm">Supprimer</button>
</form>
