{% extends 'base.html.twig' %}

{% block title %}Edit JourDeLaSemaine{% endblock %}

{% block body %}
    <h1>Edit JourDeLaSemaine</h1>

    {{ include('jour_de_la_semaine/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_jour_de_la_semaine_index') }}">back to list</a>

    {{ include('jour_de_la_semaine/_delete_form.html.twig') }}
{% endblock %}
