{% extends 'base.html.twig' %}

{% block title %}New JourDeLaSemaine{% endblock %}

{% block body %}
    <h1>Create new JourDeLaSemaine</h1>

    {{ include('jour_de_la_semaine/_form.html.twig') }}

    <a href="{{ path('app_jour_de_la_semaine_index') }}">back to list</a>
{% endblock %}
