{% extends 'base.html.twig' %}

{% block title %}Creer JourDeLaSemaine{% endblock %}

{% block body %}
    <h1>Creer JourDeLaSemaine</h1>

    {{ include('jour_de_la_semaine/_form.html.twig') }}

    <a href="{{ path('app_jour_de_la_semaine_index') }}">Retour a la liste</a>
{% endblock %}
