{% extends 'base.html.twig' %}

{% block title %}Creer Intervention{% endblock %}

{% block body %}
    <h1>Creer Intervention</h1>

    {{ include('intervention/_form.html.twig') }}

    <a href="{{ path('app_intervention_index') }}">Retour a la liste</a>
{% endblock %}
