{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
    <h1>Modifier Produit {{ include('produit/_deactivate_form.html.twig') }}</h1>

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>
{% endblock %}
