{% extends 'base.html.twig' %}

{% block title %}Edit VigilanceIntervention{% endblock %}

{% block body %}
    <h1>Edit VigilanceIntervention</h1>

    {{ include('vigilance_intervention/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vigilance_intervention_index') }}">back to list</a>

    {{ include('vigilance_intervention/_delete_form.html.twig') }}
{% endblock %}
