{% extends 'base.html.twig' %}

{% block title %}New VigilanceIntervention{% endblock %}

{% block body %}
    <h1>Create new VigilanceIntervention</h1>

    {{ include('vigilance_intervention/_form.html.twig') }}

    <a href="{{ path('app_vigilance_intervention_index') }}">back to list</a>
{% endblock %}
