{% extends 'base.html.twig' %}

{% block title %}Creer VigilanceIntervention{% endblock %}

{% block body %}
    <h1>Creer VigilanceIntervention</h1>

    {{ include('vigilance_intervention/_form.html.twig') }}

    <a href="{{ path('app_vigilance_intervention_index') }}">Retour a la liste</a>
{% endblock %}
