<form method="post" action="{{ path('app_redacteur_delete', {'id': redacteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ redacteur.id) }}">
    <button class="btn">Delete</button>
</form>
