{% extends 'base.html.twig' %}

{% block title %}Modifier Redacteur{% endblock %}

{% block body %}
    <h1>Modifier Redacteur</h1>

    {{ include('redacteur/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_redacteur_index') }}">Retour a la liste</a>

    {{ include('redacteur/_delete_form.html.twig') }}
{% endblock %}
