{% extends 'base.html.twig' %}

{% block title %}New Redacteur{% endblock %}

{% block body %}
    <h1>Create new Redacteur</h1>

    {{ include('redacteur/_form.html.twig') }}

    <a href="{{ path('app_redacteur_index') }}">back to list</a>
{% endblock %}
