{% extends 'base.html.twig' %}

{% block title %}Creer Redacteur{% endblock %}

{% block body %}
    <h1>Creer Redacteur</h1>

    {{ include('redacteur/_form.html.twig') }}

    <a href="{{ path('app_redacteur_index') }}">Retour a la liste</a>
{% endblock %}
