{% extends 'base.html.twig' %}

{% block title %}Edit MoyenDosage{% endblock %}

{% block body %}
    <h1>Edit MoyenDosage</h1>

    {{ include('moyen_dosage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_moyen_dosage_index') }}">back to list</a>

    {{ include('moyen_dosage/_delete_form.html.twig') }}
{% endblock %}
