{% extends 'base.html.twig' %}

{% block title %}Creer Moyen de dosage{% endblock %}

{% block body %}
    <h1>Creer Moyen de dosage</h1>

    {{ include('moyen_dosage/_form.html.twig') }}

    <a href="{{ path('app_moyen_dosage_index') }}">Retour a la liste</a>
{% endblock %}
