{% extends 'base.html.twig' %}

{% block title %}New MoyenDosage{% endblock %}

{% block body %}
    <h1>Create new MoyenDosage</h1>

    {{ include('moyen_dosage/_form.html.twig') }}

    <a href="{{ path('app_moyen_dosage_index') }}">back to list</a>
{% endblock %}
