{% from '_macros/action_buttons.html.twig' import action_buttons %}
{% extends 'base.html.twig' %}

{% block title %}Support Client
{% endblock %}

{% block body %}
	<h1>Support Client</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for support_client in support_clients %}
				<tr>
					<td>{{ support_client.id }}</td>
					<td>

					    {{ action_buttons('app_support_client_show', 'app_support_client_edit', support_client.id) }}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">Aucun support client trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_support_client_new') }}">Créer</a>
{% endblock %}
