{% extends 'base.html.twig' %}

{% block title %}New SupportClient{% endblock %}

{% block body %}
    <h1>Create new SupportClient</h1>

    {{ include('support_client/_form.html.twig') }}

    <a href="{{ path('app_support_client_index') }}">back to list</a>
{% endblock %}
