{% extends 'base.html.twig' %}

{% block title %}Support Client
{% endblock %}

{% block body %}
	<h1>Créer un support client</h1>

	{{ include('support_client/_form.html.twig') }}

	<a href="{{ path('app_support_client_index') }}">retour à la liste</a>
{% endblock %}
