{% extends 'base.html.twig' %}

{% block title %}Modifier TempsContact{% endblock %}

{% block body %}
    <h1>Modifier TempsContact</h1>

    {{ include('temps_contact/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_temps_contact_index') }}">Retour a la liste</a>

    {{ include('temps_contact/_delete_form.html.twig') }}
{% endblock %}
