{% extends 'base.html.twig' %}

{% block title %}Creer TempsContact{% endblock %}

{% block body %}
    <h1>Creer TempsContact</h1>

    {{ include('temps_contact/_form.html.twig') }}

    <a href="{{ path('app_temps_contact_index') }}">Retour a la liste</a>
{% endblock %}
