{% extends 'base.html.twig' %}

{% block title %}New TempsContact{% endblock %}

{% block body %}
    <h1>Create new TempsContact</h1>

    {{ include('temps_contact/_form.html.twig') }}

    <a href="{{ path('app_temps_contact_index') }}">back to list</a>
{% endblock %}
