{% extends 'base.html.twig' %}

{% block title %}Modifier
	{{ client.nom }}
{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Modifier le client</h1>
	</div>

	<div class="form-card">
		{{ include('client/_form.html.twig', {'button_label': 'Enregistrer'}) }}
	</div>

	<div class="btn-group mt-2">
		<a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-secondary">← Retour</a>
		{{ include('client/_delete_form.html.twig') }}
	</div>
{% endblock %}
