{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom client</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">
                        {{ client.nom }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun client trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Ajouter un client</a>
{% endblock %}