{% extends 'base.html.twig' %}

{% block title %}Créer un client
{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>Créer un nouveau client</h1>
	</div>

	<div class="form-card">
		{{ include('client/_form.html.twig') }}
	</div>

	<div class="mt-2">
		<a href="{{ path('app_client_index') }}" class="btn btn-secondary">← Retour à la liste</a>
	</div>
{% endblock %}
