<form method="post" action="{{ path('app_type_zone_delete', {'id': type_zone.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type de zone ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_zone.id) }}">
	<button class="btn btn-danger btn-sm">Supprimer</button>
</form>
