{% extends 'base.html.twig' %}

{% block title %}Ajouter un type de zone
{% endblock %}

{% block body %}
	<h1>Ajouter un type de zone</h1>

	{{ include('type_zone/_form.html.twig') }}

	<a href="{{ path('app_type_zone_index') }}">Retour à la liste</a>
{% endblock %}
