{% extends 'base.html.twig' %}

{% block title %}Nouveau type de zone{% endblock %}

{% block body %}
    <h1>Nouveau type de zone</h1>

    {{ include('type_zone/_form.html.twig') }}

    <a href="{{ path('app_type_zone_index') }}">retour à la liste</a>
{% endblock %}
