{% extends 'base.html.twig' %}

{% block title %}Creer Actions{% endblock %}

{% block body %}
    <h1>Créer une nouvelle action</h1>

    {{ include('actions/_form.html.twig') }}

    <a href="{{ path('app_actions_index') }}">Retour a la liste</a>
{% endblock %}
