{% extends 'base.html.twig' %}

{% block title %}Modifier Plage{% endblock %}

{% block body %}
    <h1>Modifier Plage</h1>

    {{ include('plage/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_plage_index') }}">Retour a la liste</a>

    {{ include('plage/_delete_form.html.twig') }}
{% endblock %}
