{% extends 'base.html.twig' %}

{% block title %}Creer Plage{% endblock %}

{% block body %}
    <h1>Creer Plage</h1>

    {{ include('plage/_form.html.twig') }}

    <a href="{{ path('app_plage_index') }}">Retour a la liste</a>
{% endblock %}
