{% extends 'base.html.twig' %}

{% block title %}Ajouter un contrat{% endblock %}

{% block body %}
    <h1>Ajouter un contrat</h1>

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">Retour à la liste</a>
{% endblock %}