{% extends 'base.html.twig' %}

{% block title %}Modifier Vigilance{% endblock %}

{% block body %}
    <h1>Modifier Vigilance</h1>

    {{ include('vigilance/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_vigilance_index') }}">Retour a la liste</a>

    {{ include('vigilance/_delete_form.html.twig') }}
{% endblock %}
