{% extends 'base.html.twig' %}

{% block title %}Creer Vigilance{% endblock %}

{% block body %}
    <h1>Creer Vigilance</h1>

    {{ include('vigilance/_form.html.twig') }}

    <a href="{{ path('app_vigilance_index') }}">Retour a la liste</a>
{% endblock %}
