{% extends 'base.html.twig' %}

{% block title %}New Reutilisable{% endblock %}

{% block body %}
    <h1>Create new Reutilisable</h1>

    {{ include('reutilisable/_form.html.twig') }}

    <a href="{{ path('app_reutilisable_index') }}">back to list</a>
{% endblock %}
