{% extends 'base.html.twig' %}

{% block title %}Modifier Contenant{% endblock %}

{% block body %}
    <h1>Modifier Contenant</h1>

    <p><strong>Picto actuel :</strong> {{ contenant.id }}.png</p>

    {{ include('contenant/_form.html.twig', {
        'button_label': 'Mettre a jour',
        'picto_auto_value': contenant.id ~ '.png'
    }) }}

    <a href="{{ path('app_contenant_index') }}" class="btn btn-secondary">Retour a la liste</a>

    {{ include('contenant/_delete_form.html.twig') }}
{% endblock %}
