{% extends 'base.html.twig' %}

{% block title %}Modifier Contenant{% endblock %}

{% block body %}
    <h1>Modifier Contenant</h1>

    {{ include('contenant/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_contenant_index') }}">Retour a la liste</a>

    {{ include('contenant/_delete_form.html.twig') }}
{% endblock %}
