{% extends 'base.html.twig' %}

{% block title %}Creer Contenant{% endblock %}

{% block body %}
    <h1>Creer Contenant</h1>

    {{ include('contenant/_form.html.twig') }}

    <a href="{{ path('app_contenant_index') }}">Retour a la liste</a>
{% endblock %}
