<form method="post" action="{{ path('app_element_securite_delete', {'id': element_securite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ element_securite.id) }}">
    <button class="btn">Supprimer</button>
</form>
