{% extends 'base.html.twig' %}

{% block title %}Modifier ElementSecurite{% endblock %}

{% block body %}
    <h1>Modifier ElementSecurite</h1>

    {{ include('element_securite/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_element_securite_index') }}">Retour a la liste</a>

    {{ include('element_securite/_delete_form.html.twig') }}
{% endblock %}
