{% extends 'base.html.twig' %}

{% block title %}New ElementSecurite{% endblock %}

{% block body %}
    <h1>Create new ElementSecurite</h1>

    {{ include('element_securite/_form.html.twig') }}

    <a href="{{ path('app_element_securite_index') }}">back to list</a>
{% endblock %}
