{% extends 'base.html.twig' %}

{% block title %}Creer ElementSecurite{% endblock %}

{% block body %}
    <h1>Creer ElementSecurite</h1>

    {{ include('element_securite/_form.html.twig') }}

    <a href="{{ path('app_element_securite_index') }}">Retour a la liste</a>
{% endblock %}
